/* 

  This CSS file contains global styles and animations for the AttendMate application.

  Tailwind CSS Directives:
  - @tailwind base: Includes Tailwind's base styles.
  - @tailwind components: Includes Tailwind's component styles.
  - @tailwind utilities: Includes Tailwind's utility classes.

  Custom Properties:
  - --background: Defines the background color.
  - --foreground: Defines the foreground (text) color.

  Media Queries:
  - @media (prefers-color-scheme: dark): Adjusts the background and foreground colors for dark mode.

  Global Styles:
  - body: Sets the text color, background color, and font family for the entire document.

  Keyframes and Animations:
  - @keyframes fadeIn: Defines a fade-in animation.
  - .animate-fadeIn: Applies the fade-in animation over 1 second with an ease-out timing function.
  
  - @keyframes slideIn: Defines a slide-in animation from the left.
  - .animate-slideIn: Applies the slide-in animation over 1 second with an ease-out timing function.
  
  - @keyframes buttonText: Defines a fade-in animation for button text.
  - .animate-buttonText: Applies the button text fade-in animation over 0.5 seconds with an ease-out timing function.
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 1s ease-out;
}

@keyframes buttonText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-buttonText {
  animation: buttonText 0.5s ease-out;
}
